version: "3.9"

services:

  web:
    build: ./docker/php
    container_name: autofix_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: autofix_db

    environment:
      POSTGRES_DB: autofix
      POSTGRES_USER: autofix
      POSTGRES_PASSWORD: autofix

    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

    ports:
      - "5432:5432"

  adminer:
    image: adminer
    container_name: autofix_adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  pgdata:
